<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ferreteria.Properties.Settings.FerreteriaConnectionString"
            connectionString="Data Source=JUANDANIEL-LAPT\MSSQLSERVER01;Initial Catalog=Ferreteria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name ="connectionDB" connectionString = "Data Source=JUANDANIEL-LAPT\MSSQLSERVER01;Initial Catalog=Ferreteria;Integrated Security=True" />
	</connectionStrings>
</configuration>